# Django maxfiy kaliti — production'da yangi, takrorlanmas qiymat qo'ying
SECRET_KEY=your-secret-key-here

# Development uchun True, production'da False
DEBUG=True

# Vergul bilan ajratilgan ruxsat etilgan hostlar
ALLOWED_HOSTS=127.0.0.1,localhost

# Vergul bilan ajratilgan CSRF ishonchli manzillar
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000
